<!-- this is CSS file for resume porjec area layout -->


#button_row{

    width:auto;
    height: 50px;
    margin-top: 30px;

}

.project_area {
    margin:20px;
}

#project_area .project_box{

    width:210px;
    height:210px;
    padding: 2px 2px 2px 2px;
    margin: 5px auto;
    float:left;

}

.basic_box{

    border: 2px solid #9acfea;
    margin: 2px;

}

.skill_box{
  position: relative;
    left:100px;
}
.btn-group-sm{
    padding: 8px 15px;
    border-color: #fed136;
    border-radius: 1px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}

.btn-group-sm:hover,
.btn-group-sm:focus,
.btn-group-sm:active,
.btn-group-sm.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}
/*background for each section*/
#Profile{
    background-color:#EFEFEF;
}

#Project{

}
#Education{
    background-color:#EFEFEF;
}

#Honor{

}

#extra{
    background-color: #EFEFEF;
}