/*
section{
    display:block;
    float:left;
    border:2px solid green;
    min-height:300px;
    width:100%;
    border-radius:4px;
}
*/



.block{
    display:block;
    border:1px solid black;
    margin:10px;
    -webkit-transition:all .4s linear;
    -moz-transition:all .4s linear;
    -o-transition:all .4s linear;
    -ms-transition:all .4s linear;
    transition:all .4s linear;
    margin-top:20px;
}

button{
    position: relative;
    left:36%;
    margin-bottom:10px;
}

.basic_box{
    border: 0px solid cyan;
    margin: 5px;
}

.btn_m{
    position:relative;
    left:30%
}

div[data-filter="Web"]{
}

div[data-filter="ML"]{
}

div[data-filter="DB"]{
}

div[data-filter="TC"]{
}

div[data-filter="BC"]{
}



button:focus[data-filter]{
    opacity:.8;
    outline:none;
}

button[data-filter="Web"]:focus ~ div:not([data-filter="Web"]){
    display: none;
    visibility: hidden;
}

button[data-filter="ML"]:focus ~ div:not([data-filter="ML"]){
    display: none;
    visibility: hidden;
}

button[data-filter="DB"]:focus ~ div:not([data-filter="DB"]){
    display: none;
    visibility: hidden;
}

button[data-filter="TC"]:focus ~ div:not([data-filter="TC"]){
    display: none;
    visibility: hidden;
}

button[data-filter="BC"]:focus ~ div:not([data-filter="BC"]){
    display: none;
    visibility: hidden;
}
