<!-- this is CSS file for resume porjec area layout -->


#button_row{

    width:auto;
    height: 50px;
    margin-top: 30px;

}

.project_area {
    margin:20px;
}

#project_area .project_box{

    width:210px;
    height:210px;
    padding: 2px 2px 2px 2px;
    margin: 5px auto;
    float:left;

}

.basic_box{

    border: 2px solid #9acfea;
    margin: 2px;

}

.skill_box{
  position: relative;
    left:100px;
}
